*
{
  margin:0px;
}

.jumbotron {
  background: rgb(207, 2, 87);
  color: #0b0335;
  margin-bottom: 20px;
}

.container
{
  background: rgb(207, 2, 87);;
}

.card
{
  border-bottom: 5px ridge;
  background: rgb(3, 15, 48);
  margin-bottom: 35px;
  color: rgb(16, 194, 238);
}

.app_graph
{
  height: 379px;
}

.map
{
  margin-bottom: 35px;
}

